@import "tintas.css";

header,
main,
footer {
    color: var(--preto);
    margin: 16px auto 16px;
}

footer {
    background-color: var(--branco);
    height: 100%;
}

footer hr {
    margin: 16px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    margin: 1em 0;
    max-width: 640px;
    text-align: justify;
}

nav img,
nav ul {
    float: left;
}

nav ul {
    margin: 16px;
    padding: auto 16px;
}

nav ul {
    list-style-type: none;
}

a,
a:visited {
    color: var(--azul);
}

main a {
    font-weight: bold;
}

a,
abbr {
    text-decoration: none;
}

figcaption {
    margin: 8px 0 16px;
}

.frase {
    color: var(--cinza);
    font-style: italic;
}

.conteudo-centralizado {
    text-align: center;
}

.direita {
    float: right;
}

.lateral {
    margin-top: 16px;
    min-width: 352px;
}

.limpar {
    clear: both;
}

.aqui {
    font-weight: bold;
}


@media screen and (max-width:768px) {

    header,
    main,
    footer {
        padding: 0 16px;
    }

    footer p {
        text-align: center;
    }

    .imagem-a-direita {
        float: none;
    }

}